body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
  }
  
  th {
    background-color: #335;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #333;
  }
  